:root {
    --cor--priamria: #000000;
    --cor--segundari: #F6F6F6;
    --cor--terciaria: #9322fd;
    --cor--houver: #272727;
    --fonte--primaria: 'Krona One', sans-serif ;
    --fonte--secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor--priamria);
    color: var(--cor--segundari);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_link {
    display: flex;
    gap: 80px;
}

.cabecalho_texto {
    font-family: var(--fonte--secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;
}

.titulo {
    color: var(--cor--terciaria);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_texto_titulo {
    font-family: var(--fonte--primaria);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
}

.apresentacao_texto_desc {
    font-family: var(--fonte--secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.apresentacao_botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_link {
    /* background-color: var(--cor--terciaria); */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor--terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--segundaria);
    font-family: var(--fonte--secundaria);
}

.apresentacao_link:hover {
    background-color: var(--cor--houver);
}

.apresentacao_imagem {
    width: 40%;
}

.rodape {
    padding: 24x;
    color: var(--cor--priamria);
    background-color: var(--cor--terciaria);
    text-align: center;
    font-family: var(--fonte--secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .cabecalho_link {
        justify-content: center;
    }

    .apresentacao_texto_desc {
        width: auto;
    }
}

